.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  .homeTopWrapper{
  width: 100vw
  };
  .homeBottomWrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .homePropertyListWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;

  }

  .homeTitle {
    font-size: 40px;
    font-weight: bold;
    color: black;
  }
}
